
<div class='center'>

<%= form_with(url: search_path, method: "get", local: true) do %>
  <%= label_tag(:book, "Enter book name:") %>
  <%= text_field_tag(:book) %>
  <%= submit_tag("Search") %>
<% end %>
</div>
<% if @response %> 

  <div class='bookSearchResult container center col'>
    <h2>
      <%= JSON.parse(@response.body)['docs'][0]['title']%> 
    </h2>  
    <h3>Written by 
        <%= JSON.parse(@response.body)['docs'][0]['author_name'][0]%>
    </h3>
    <h3>Published:
        <%= JSON.parse(@response.body)['docs'][0]['first_publish_year']%>
    </h3>
    <h3>Average Number of pages:
        <%= JSON.parse(@response.body)['docs'][0]['number_of_pages_median']%>
    </h3>
    <button><span>☆</span></button>


        </div>
<% end %>
