<nav class='col navSpace'>
    <div class='row'>
    <%=link_to  image_tag('book.png', alt:'book logo' ,height:150)%>
    <h1>Bookkeeper</h1>
    </div>
    <ul class='row navSpace'>
        <li><%= link_to 'Home','/static_pages/home'%> </li>
        <li><%= link_to 'About','/static_pages/about'%> </li>
        <li><%= link_to 'Contact','/static_pages/contact'%> </li>
        <li><%= link_to 'Help','/static_pages/help'%> </li>
    </ul>
</nav>