<nav class='col navSpace'>
    <div class='row'>
    <%=link_to  image_tag('book.png', alt:'book logo' ,height:150)%>
    <h1>Bookkeeper</h1>
    </div>
    <ul class='row navSpace'>
        <li><%= link_to 'Favorites',root_path %> </li>
        <li><%= link_to 'Search',search_path %> </li>
        <li><%= link_to 'About',about_path %> </li>
        <li><%= link_to 'Help',help_path %> </li>

    </ul>
</nav>